<h1><%= flash[:notice] ? flash[:notice] : "Edit Your Profile" %></h1>

<%= form_for(@user) do |f| %>
	<%= f.text_field :name %>
	<%= f.text_field :email %>
	<%= f.select :school_id, @schools, :include_blank => "None" %>
	<%= f.submit "Update" %>
<% end %>