<h1><%= flash[:notice] ? flash[:notice] : "Edit Your Profile" %></h1>

<%= form_for(@user) do |f| %>
	<p class="field group">
		<%= f.label :name, class: "required" %>
		<%= f.text_field :name %>
	</p>
	<p class="field group">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p class="field group">
		<%= f.label :city_id, "City", class: "select_label" %>
		<%= f.select :city_id, @cities, include_blank: "None" %>
	</p>
	<p class="field group">
		<%= f.label :school_id, "School", class: "select_label" %>
		<%= f.select :school_id, @schools, include_blank: "None" %>
	</p>
	<p class="field group">
		<%= f.label :graduating_year, class: "select_label" %>
		<%= f.select :graduating_year, @years, include_blank: "None" %>
	</p>
	<%= f.submit "Update", class: "submit" %>
<% end %>