<!DOCTYPE html>
<html>
<head>
  <title>Forvm</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="navigation">
	<div class="group">
		<h1><%= link_to "Forvm", root_url %></h1>
		<nav>
			<ul id="options">
				<% if current_user %>
					<li class="name"><%= link_to current_user.name, user_url(current_user) %></li>
					<li><%= link_to "Log out", logout_url %>
				<% else %>
					<li><%= link_to "Log in", login_url %></li>
					<li><%= link_to "Sign up", login_url %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>

<div id="main" class="group">
	
	<% if flash[:success] %>
		<p class="flash_success"><%= flash[:success] %></p>
	<% elsif flash[:notice] %>
		<p class="flash_notice"><%= flash[:notice] %></p>
	<% end %>
	
	<main id="content">
		<%= yield %>
	</main>
	<aside id="sidebar">
		<h1>Sidebar</h1>
	</aside>
</div>

</body>
</html>
